asgiref
astroid
attrs
certifi
cffi
charset-normalizer
colorama
coloredlogs
cryptography
dill
distlib
dj-database-url
Django
django-appconf
django-ckeditor
django-js-asset
django-select2
et_xmlfile
filelock
flatbuffers
gunicorn
humanfriendly
idna
imageio
isort
jsonschema
jsonschema-specifications
lazy_loader
llvmlite
mccabe
mpmath
mysql-connector-python
networkx
numba
numpy
onnxruntime
opencv-python-headless
openpyxl
packaging
pandas
pillow
platformdirs
pooch
protobuf
pycparser
pylint
pylint-django
pylint-plugin-utils
PyMatting
PyMySQL
pyreadline3
python-dateutil
pytz
referencing
rembg
requests
rpds-py
scikit-image
scipy
six
sqlparse
sympy
tifffile
tomlkit
tqdm
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
xlrd

